[user]
    name = Danny Guo
    email = dannyguo91@gmail.com
    signingkey = 563054975255DC30
[push]
    default = simple
[core]
    editor = vim
[alias]
    a = add
    au = add -u
    b = branch
    c = commit
    cm = commit -m
    ca = commit --amend
    cf = commit --fixup=HEAD
    cs = commit --squash=HEAD -m
    co = checkout
    d = diff
    dt = difftool
    l = log
    m = merge
    r = rebase
    # Interactively rebase the last $1 commits, defaulting to 2 for most
    # of my fixup/squash cases.
    ri = "!f() { git rebase -i HEAD~${1:-2}; }; f"
    s = status
    t = tag
    ph = push
    pl = pull
[credential]
    helper = cache --timeout=86400
[diff]
    tool = meld # Install this port for Mac: https://github.com/yousseb/meld
[difftool]
    prompt = false
[difftool "meld"]
    trustExitCode = true
    cmd = /Applications/Meld.app/Contents/MacOS/Meld \"$LOCAL\" \"$PWD/$REMOTE\"
[rebase]
	autosquash = true
