[user]
	name = Danny Guo
	email = dannyguo91@gmail.com
[push]
	default = simple
[core]
	editor = vim
[alias]
	a = add
	au = add -u
	b = branch
	c = commit -m
	co = checkout
	d = diff
    l = log
    m = merge
	s = status
    t = tag
	ph = push
	pl = pull
[credential]
	helper = cache --timeout=86400

