[alias]
    a = add
    au = add -u
    b = branch
    c = commit
    cm = commit -m
    ca = commit --amend
    cf = commit --fixup=HEAD
    cs = commit --squash=HEAD -m
    co = checkout
    d = diff
    dt = difftool
    l = log
    m = merge
    r = rebase
    # Interactively rebase the last $1 commits, defaulting to 2 for most
    # of my fixup/squash cases.
    ri = "!f() { git rebase -i HEAD~${1:-2}; }; f"
    s = status
    t = tag
    ph = push
    pl = pull
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[core]
    autocrlf = input
    editor = vim
    # Use diff-so-fancy for all diff output
    # To bypass diff-so-fancy, run $ git --no-pager diff
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[init]
    defaultBranch = main
[pull]
	ff = only
[push]
    default = simple
[rebase]
    autosquash = true
[user]
    name = Danny Guo
    email = dannyguo91@gmail.com
    signingkey = 563054975255DC30
# Needs to be at the end to override previous settings
[includeIf "gitdir:~/code/seedfi/"]
    path = ~/code/seedfi/.gitconfig
