[alias]
    a = add
    au = add -u
    b = branch
    c = commit
    cm = commit -m
    ca = commit --amend
    cf = commit --fixup=HEAD
    cs = commit --squash=HEAD -m
    co = checkout
    d = diff
    dt = difftool
    l = log
    m = merge
    r = rebase
    # Interactively rebase the last $1 commits, defaulting to 2 for most
    # of my fixup/squash cases.
    ri = "!f() { git rebase -i HEAD~${1:-2}; }; f"
    s = status
    t = tag
    ph = push
    pl = pull
[core]
    autocrlf = input
    editor = vim
    # Use delta for all diff output
    # To bypass delta, run $ git --no-pager diff
    pager = "delta"
[delta]
    line-numbers = true
    syntax-theme = Monokai Extended
[diff]
    colorMoved = default
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[pull]
	ff = only
[push]
    default = simple
[rebase]
    autosquash = true
[user]
    name = Danny Guo
    email = dannyguo91@gmail.com
    signingkey = 563054975255DC30
# Needs to be at the end to override previous settings
[includeIf "gitdir:~/code/seedfi/"]
    path = ~/code/seedfi/.gitconfig
